@tailwind base;
@tailwind components;
@tailwind utilities;

.huy {
  --primary: 203, 149, 29;
  --secondary: 32, 32, 32;
  --text: 32, 32, 32;
  --gray: 202, 205, 208;
}
.mai {
  --primary: 203, 149, 29;
  --secondary: 32, 32, 32;
  --text: 32, 32, 32;
  --gray: 202, 205, 208;
}
.quyen {
  --primary: 203, 149, 29;
  --secondary: 32, 32, 32;
  --text: 32, 32, 32;
  --gray: 202, 205, 208;
}

.uyen {
  --primary: 203, 149, 29;
  --secondary: 32, 32, 32;
  --text: 32, 32, 32;
  --gray: 202, 205, 208;
}
.thinh {
  --primary: 203, 149, 29;
  --secondary: 32, 32, 32;
  --text: 32, 32, 32;
  --gray: 202, 205, 208;
}
.vi {
  --primary: 203, 149, 29;
  --secondary: 32, 32, 32;
  --text: 32, 32, 32;
  --gray: 202, 205, 208;
}
.hieu {
  --primary: 203, 149, 29;
  --secondary: 32, 32, 32;
  --text: 32, 32, 32;
  --gray: 202, 205, 208;
}
.hen {
  --primary: 203, 149, 29;
  --secondary: 32, 32, 32;
  --text: 32, 32, 32;
  --gray: 202, 205, 208;
}
::-webkit-scrollbar {
  display: none;
}

:root {
  /* layout */
  --limit-width: 956px;
  --ios-pb: 8px;
  --navbar-height: calc(var(--ios-pb) + var(--header-height));
  --header-height: 68px;
  /* common color */
  --overlay-color: rgba(27, 27, 27, 0.8);
  /* z-index */
  --z-index-modal: 100;
  --z-index-toast: 9999;
  --z-index-navbar: 90;
  @media (min-width: 640px) {
    --ios-pb: 20px;
  }
}

body {
  margin: 0;
  place-items: center;
  background: radial-gradient(
    circle at center,
    rgba(var(--primary), 0.5),
    #ffffff 50%,
    #ffffff 90%,
    rgba(var(--primary), 1) 120%
  );
  overflow: hidden;
  font-family: 'Cormorant Upright', serif;
  color: rgba(var(--text), 1);
}

#root {
  width: 100%;
  margin: auto;
  height: 100dvh;
  position: relative;
  z-index: 0;
  padding: var(--ios-pb);
  @media (min-width: 640px) {
    max-width: var(--limit-width);
  }
}

.bg-gradient {
  background: linear-gradient(
    -45deg,
    rgba(var(--secondary), 1) 0%,
    rgba(var(--primary), 1) 50%,
    rgba(var(--secondary), 1) 100%
  );
}
.border-top-animate {
  position: relative;
}
.border-top-animate::before {
  content: '';
  position: absolute;
  top: 0;
  z-index: 1;
  left: 50%;
  transform: translateX(-50%);
  width: 0%;
  height: 1.6px;
  background: rgba(var(--primary), 1);
  animation: border-top-animate 3s linear infinite;
}
@keyframes border-top-animate {
  0% {
    width: 0%;
    opacity: 0;
  }
  10% {
    width: 0%;
    opacity: 1;
  }
  90% {
    width: 100%;
    opacity: 0.2;
  }
  100% {
    width: 100%;
    opacity: 0;
  }
}
.border-top-animate::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1.6px;
  background: rgba(var(--gray), 1);
}

.background-glass {
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

@media screen and (hover: none) and (orientation: landscape) {
  #layout {
    display: none;
  }
  #invitations {
    display: none;
  }
  #landscape-warning {
    display: flex;
  }
}

.invitation-text {
  font-size: 1.1rem;
  line-height: 1.35rem;
  @media not all and (min-width: 430px) {
    font-size: 0.9rem;
    line-height: 1.05rem;
  }
}
